<div class="px-4 py-5 my-5 text-center">
<h1><i class="bi bi-door-open"></i></h1>
<h1 class="display-5 fw-bold">Departamentos</h1>
 <div class="col-lg-6 mx-auto">
<table class="table table-striped col-lg-8 mx-auto text-center">
  <thead>
    <tr class="bg-secondary text-white">
      <th style="border:1px solid black" >Número</th>
      <th style="border:1px solid black" >Edificio</th>
      <th style="border:1px solid black" colspan="3">Acción</th>
    </tr>
  </thead>
  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td style="border:1px solid black" ><i class="bi bi-door-open"></i>&nbsp;<%= apartment.number %></td>
        <td style="border:1px solid black" ><%= apartment.building %></td>
        <td style="border:1px solid black" ><%= link_to "Ver", apartment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Apartment", new_apartment_path, class:'btn btn-primary text-white' %>
</div>
</div>